.divContenedor{
    display: flex;
    background-color: aqua;
}
.container{
   
    
    background-color: lightcoral;
    width: 25em;
    height: 20em;
    justify-content: center;
}
.card{
    background-color: beige;
    width:20em;
    height:15em;
    border-radius: 2px;
    border: 1px solid black;
    margin-left: 5em;
}
